spring-bean/src/main/resources/META-INF/spring-user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.rg.com/schema/userXsd"
            xmlns:tns="http://www.rg.com/schema/userXsd"
            elementFormDefault="qualified">

    <xsd:element name="user">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="username" type="xsd:string"/>
            <xsd:attribute name="email" type="xsd:string"/>
        </xsd:complexType>

    </xsd:element>

</xsd:schema>

<!-- 不要xsd:是一样的 -->